:host {
  background-color: #eee;
  position: relative;
}

.cell {
  width: 24px;
  height: 24px;
  border: 1px dotted #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}

.cell:active {
  background-color: #fff;
}

.cell-revealed {
  background-color: #fff;
}

.threatCounter {
  font-weight: bold;
}
