:host {
  background-color: #eee;
}

.terrain {
  width: 48px;
  height: 48px;
}

.terrain-dirt {
  background-color: sandybrown;
}
.terrain-grass {
  background-color: green;
}
.terrain-road {
  background-color: grey;
}
.terrain-rock {
  background-color: black;
}
.terrain-water {
  background-color: dodgerblue;
}
