:host {

}

.icon { /* Customizes all icons at once */
  display: inline-block;
}

.icon-content {
  margin-top: 4px;
  margin-left: 8px;
}

/*Skull icon by Icons8 */
.icons8-Skull { /* Customizes Skull icon */
  fill: #false;
  width: 24px;
  height: 24px;
}

/*Checked icon by Icons8 */
.icons8-Checked { /* Customizes Checked icon */
  fill: #false;
  width: 64px;
  height: 64px;
}

/*Restart icon by Icons8 */
.icons8-Restart { /* Customizes Restart icon */
  fill:#false;
  width: 64px;
  height: 64px;
}
/*Cool icon by Icons8 */
.icons8-Cool { /* Customizes Cool icon */
  fill:#false;
  width: 96px;
  height: 96px;
}
/*Icons8 Logo icon by Icons8 */
.icons8-Icons8-Logo { /* Customizes Icons8 Logo icon */
  fill:#false;
  width: 32px;
  height: 32px;
}
/*Stopwatch icon by Icons8 */
.icons8-Stopwatch { /* Customizes Stopwatch icon */
  fill:#false;
  width: 24px;
  height: 24px;
}
/*Gender Neutral User icon by Icons8 */
.icons8-Gender-Neutral-User { /* Customizes Gender Neutral User icon */
  fill:#false;
  width: 24px;
  height: 24px;
}
/*Babys Room icon by Icons8 */
.icons8-Babys-Room { /* Customizes Babys Room icon */
  fill:#false;
  width: 24px;
  height: 24px;
}
/*Camo Cream icon by Icons8 */
.icons8-Camo-Cream { /* Customizes Camo Cream icon */
  fill:#false;
  width: 24px;
  height: 24px;
}
/*Human Head icon by Icons8 */
.icons8-Human-Head { /* Customizes Human Head icon */
  fill:#false;
  width: 24px;
  height: 24px;
}
