<icon [type]="'cool'"></icon>
<div class="header">Victory!</div>
<div class="message">
    <div class="message-main">Congratulations! You survived!</div>
    <div class="message-secondary">And spent just {{secondsCount}} seconds...</div>
</div>
<div>
    <input #playerName (keyup)="onKeyUp($event.keyCode, playerName.value)" placeholder="Your name ...">
    <div>
        <div class="btn" (click)="onSave(playerName.value)">
            <icon [type]="'checked'"></icon>
        </div>
    </div>
</div>
