:host .header {
  font-size: 64px;
  margin-bottom: 16px;
}

:host .message {
  line-height: 24px;
  margin-bottom: 16px;
}

:host .message-secondary {
  font-size: 12px;
}

:host .btn {
  display: inline-block;
  border-radius: 90px;
  height: 64px;
  cursor: pointer;
  transition: background-color .2s ease-out;
}

:host .btn:active {
  transition: background-color .2s ease-out;
  background-color: #adbcd1;
}

:host .angry-skull svg{
  width: 96px;
  height: 96px;
}

