<main class="noselect">
    <div class="game-title">
        Minesweeper
    </div>
    <game-field [gameField]="state.gameField"></game-field>
    <control-panel
        [timeSpent]="state.timeSpent"
        [minesCount]="state.gameField.minesCount"
    ></control-panel>
    <div *ngIf="!state.isVictory">
        <victory-screen [secondsCount]="state.timeSpent"></victory-screen>
    </div>
    <div *ngIf="state.isDefeat">
        Fail!
    </div>
    <score-board [scores]="scores"></score-board>
</main>
