<main class="noselect">
    <div class="game-title">Good Old Minesweeper</div>
    <div class="game-modes">
        <div class="mode" (click)="startEasyGame()"><icon [type]="'easy'" class="restart-btn">Easy</icon></div>
        <div class="mode" (click)="startNormalGame()"><icon [type]="'normal'" class="restart-btn">Normal</icon></div>
        <div class="mode" (click)="startHardGame()"><icon [type]="'hard'" class="restart-btn">Hard</icon></div>
    </div>
    <game-field [gameField]="state.gameField"></game-field>
    <control-panel
        [startTime]="state.startTime"
        [minesCount]="state.gameField.minesCount"
    ></control-panel>
    <modal *ngIf="state.isVictory">
        <victory-screen [startTime]="state.startTime"></victory-screen>
    </modal>
    <modal *ngIf="state.isDefeat">
        <defeat-screen></defeat-screen>
    </modal>
    <score-board [scores]="scores"></score-board>
    <div class="icon8-thx">
        <div class="icon8-text">
            Thanks to <icon [type]="'icon8-logo'"></icon><span class="icon8-name">Icons8</span> for the provided icons
        </div>
    </div>
    <footer>
        Made by <a href="https://github.com/AndreyChernykh" target="_blank">Andrei Chernykh</a> for
        <a href="https://www.angularattack.com/" target="_blank">Angular Attack</a>
        May 14-15, 2016
    </footer>
</main>
