main {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.game-modes {
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin-bottom: 16px;
}

.game-modes .mode {
  border-radius: 4px;
  padding: 4px 12px 8px 8px;
  cursor: pointer;
}

.game-modes .mode:hover {
  transition: background-color .2s ease-out;
  background-color: #ECECEC;
}

.game-modes .mode:active {
  transition: background-color .2s ease-out;
  background-color: #adbcd1;
}

.game-modes .mode icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  font-size: 36px;
  margin-bottom: 24px;
  color: #424242;
}

.icon8-thx {
  position: fixed;
  top: 0;
  padding: 36px;
}

.icon8-text {
  display: flex;
  align-items: center;
}

.icon8-text icon {
  height: 32px;
}

.icon8-name {
  font-weight: bold;
  color: #008000;
  margin-right: 4px;
}

footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  border-top: 1px dotted #ccc;
}
