<main class="noselect">
    <div class="game-title">Good Old Minesweeper</div>
    <div *ngIf="state.isStarted" class="restart-btn" (click)="startNewGame()">
        Start a new Game
    </div>
    <game-field [gameField]="state.gameField"></game-field>
    <control-panel
        [timeSpent]="state.timeSpent"
        [minesCount]="state.gameField.minesCount"
    ></control-panel>
    <modal *ngIf="state.isVictory">
        <victory-screen [secondsCount]="state.timeSpent"></victory-screen>
    </modal>
    <modal *ngIf="state.isDefeat">
        <defeat-screen [secondsCount]="state.timeSpent"></defeat-screen>
    </modal>
    <score-board [scores]="scores"></score-board>
</main>
