:host {
  display: flex;
  flex-direction: column;
}

:host .info {
  width: 400px;
  display: flex;
  justify-content: center;
  padding: 16px;
}
:host .info .info-section {
  width: 200px;
}

:host .info .info-section icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
