:host {
  display: block;
  width: 400px;
  border-bottom: 1px solid #ccc;
}

:host div {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
}
