:host {
  display: flex;
  border-bottom: 1px dotted #ccc;
}

:host div {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 36px;
}
